<!-- Define your plugins -->
<plugin>
    <name>Phone Client</name>
    <version>1.0</version>
    <author>Jive Software</author>
    <homePage>http://www.jivesoftware.org</homePage>
    <email>thiago@jivesoftware.com</email>
    <description>SIP Softphone Plugin</description>
    <class>org.jivesoftware.sparkplugin.SoftPhonePlugin</class>
    <minSparkVersion>2.5.0</minSparkVersion>
    <os>Windows,Mac,Linux</os>
</plugin>

