<!-- Define your plugins -->
<plugin>
    <name>Spellchecker Plugin</name>
    <version>0.5</version>
    <author>Michael Will</author>
    <homePage>http://www.igniterealtime.org</homePage>
    <email>michael-will@gmx.net</email>
    <description>Spellchecker Plugin</description>
    <class>org.jivesoftware.spellchecker.SpellcheckerPlugin</class>
    <minSparkVersion>2.6.0</minSparkVersion>
    <os>Windows,Mac,Linux</os>
    <java>1.6.0_00</java>
</plugin>

