<plugin>
    <name>Jingle Client</name>
    <version>1.0</version>
    <author>Jive Software</author>
    <homePage>http://www.jivesoftware.org</homePage>
    <email>derek@jivesoftware.com</email>
    <description>Allows for PC to PC calling.</description>
    <class>org.jivesoftware.sparkplugin.JinglePlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
    <os>Windows,mac,linux</os>
    <java>1.7.0</java>
</plugin>