<!-- Define your plugins -->
<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Thiago</author>
    <homePage>https://IgniteRealtime.org</homePage>
    <email>support@IgniteRealtime.org</email>
    <class>org.jivesoftware.sparkplugin.SoftPhonePlugin</class>
    <minSparkVersion>3.1.0</minSparkVersion>
    <os>Windows,Mac,Linux</os>
    <java>11</java>
</plugin>

