<plugin>
    <name>Growl Plugin</name>
    <version>1.0</version>
    <author>Andrew Wright</author>
    <homePage>http://www.jivesoftware.com</homePage>
    <email>andrew@jivesoftware.com</email>
    <description>Provides Growl notifications on Mac OS X.(http://growl.info)</description>
    <class>com.jivesoftware.spark.plugin.growl.GrowlPlugin</class>
    <minSparkVersion>2.0.0.1</minSparkVersion>
</plugin>