<plugin>
    <name>Growl Plugin</name>
    <version>2.1</version>
    <author>Wolf Posdorfer</author>
    <homePage>http://www.jivesoftware.com</homePage>
    <email>andrew@jivesoftware.com</email>
    <description>Provides Growl notifications on Mac OS X.(http://growl.info)</description>
    <class>com.jivesoftware.spark.plugin.growl.GrowlPlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
    <os>Mac</os>
    <java>1.7.0</java>
</plugin>