<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Wolf Posdorfer</author>
    <homePage>https://IgniteRealtime.org</homePage>
    <email>support@IgniteRealtime.org</email>
    <class>com.jivesoftware.spark.plugin.apple.ApplePlugin</class>
    <minSparkVersion>3.1.0</minSparkVersion>
	<os>Mac</os>
	<java>11</java>
</plugin>

