<!-- Define your plugins -->
<plugin>
    <name>Apple Notification Plugin</name>
    <version>1.0</version>
    <author>Andrew Wright</author>
    <homePage>http://www.jivesoftware.com</homePage>
    <email>andrew@jivesoftware.com</email>
    <description>Gives Spark mac notification capabilities and other enhancements.</description>
    <class>com.jivesoftware.spark.plugin.apple.ApplePlugin</class>
    <minSparkVersion>2.0.0.1</minSparkVersion>
</plugin>

