<!-- Define your plugins -->
<plugin>
    <name>Mac OSX Plugin</name>
    <version>2.1</version>
    <author>Wolf Posdorfer</author>
    <homePage>http://www.jivesoftware.com</homePage>
    <email>9posdorf@informatik.uni-hamburg.de</email>
    <description>Adds MacOSX features to Spark</description>
    <class>com.jivesoftware.spark.plugin.apple.ApplePlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
	<os>Mac</os>
	<java>1.7.0</java>
</plugin>

