<!-- Define your plugins -->
<plugin>
    <name>Reversi</name>
    <version>1.3</version>
    <author>Matt Tucker, Bill Lynch, Holger Bergunde</author>
    <homePage>http://www.jivesoftware.org</homePage>
    <email>plugins@jivesoftware.org</email>
    <description>Multiplayer game of Reversi</description>
    <class>org.jivesoftware.game.reversi.ReversiPlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
    <java>1.7.0</java>
</plugin>

