@import url("../main.css");

/* outgoing */


.outgoingItem .timeStamp {
		color:#bddff8;
}

.outgoingItem .myBubble .indicator {
	background:url("../images/blueIndicator.png") no-repeat top left;
}

.outgoingItem .tableBubble .tl {
	background:url("../images/blueCurves.png") no-repeat top left;
}

.outgoingItem .tableBubble .tr {
	background:url("../images/blueCurves.png") no-repeat top right;
}

.outgoingItem .tableBubble .head {
	background:url("../images/blueCurves.png") no-repeat -10px 0;
}

.outgoingItem .tableBubble .message {
	background:url("../images/blueBackground.png") repeat-y top left;
}

.outgoingItem .tableBubble .messageRight {
	background:url("../images/blueBackground.png") repeat-y top right;
}

.outgoingItem .tableBubble .bl {
	background:url("../images/blueCurves.png") no-repeat bottom left;
}

.outgoingItem .tableBubble .br {
	background:url("../images/blueCurves.png") no-repeat bottom right;
}

.outgoingItem .followUp {
	background-color:#ddf0fe;
	border-bottom:1px solid #fff;
}


/*incoming */

.incomingItem .timeStamp {
	color:#f8b1b1;
}

.incomingItem .myBubble .indicator {
	background:url("../images/redIndicator.png") no-repeat top left;
}

.incomingItem .tableBubble .tl {
	background:url("../images/redCurves.png") no-repeat top left;
}

.incomingItem .tableBubble .tr {
	background:url("../images/redCurves.png") no-repeat top right;
}

.incomingItem .tableBubble .head {
	background:url("../images/redCurves.png") no-repeat -10px 0;
}

.incomingItem .tableBubble .message {
	background:url("../images/redBackground.png") repeat-y top left;
}

.incomingItem .tableBubble .messageRight {
	background:url("../images/redBackground.png") repeat-y top right;
}

.incomingItem .tableBubble .bl {
	background:url("../images/redCurves.png") no-repeat bottom left;
}

.incomingItem .tableBubble .br {
	background:url("../images/redCurves.png") no-repeat bottom right;
}

.incomingItem .followUp {
	background-color:#ffdada;
	border-bottom:1px solid #fff;
}
