<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- POPO emoticons pack created by wroot@igniterealtime.org -->
	<dict>
		<key>AdiumSetVersion</key>
		<integer>1</integer>
		<key>Emoticons</key>
		<dict>
			<key>choler.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>&gt;:o</string>
					<string>:-@</string>
					<string>X(</string>
				</array>
				<key>Name</key>
				<string>Angry</string>
			</dict>
			<key>boss.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>8-)</string>
					<string>(H)</string>
					<string>&#x1f60e;</string>
					<string>B-)</string>
				</array>
				<key>Name</key>
				<string>Cool</string>
			</dict>
			<key>too_sad.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:'(</string>
					<string>:'-(</string>
					<string>:((</string>
					<string>:-((</string>
				</array>
				<key>Name</key>
				<string>Crying</string>
			</dict>
			<key>confuse.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-\</string>
					<string>:-S</string>
				</array>
				<key>Name</key>
				<string>Confused</string>
			</dict>
			<key>embarrassed.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-[</string>
					<string>:[</string>
					<string>:-$</string>
					<string>:&quot;&gt;</string>
				</array>
				<key>Name</key>
				<string>Embarassed</string>
			</dict>
			<key>beat_brick.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-!</string>
				</array>
				<key>Name</key>
				<string>Faux Pas</string>
			</dict>
			<key>sad.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-(</string>
					<string>:(</string>
					<string>&#x2639;</string>
				</array>
				<key>Name</key>
				<string>Frown</string>
			</dict>
			<key>big_smile.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-D</string>
					<string>:D</string>
					<string>&#x1f604;</string>
					<string>&#x1f603;</string>
					<string>&#x1f602;</string>
					<string>&#x1f601;</string>
					<string>&#x1f600;</string>
					<string>&#x1f605;</string>
					<string>&#x1f606;</string>
				</array>
				<key>Name</key>
				<string>Grin</string>
			</dict>
			<key>adore.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>O:-)</string>
					<string>O:)</string>
					<string>o:-)</string>
					<string>o:)</string>
					<string>(A)</string>
				</array>
				<key>Name</key>
				<string>Innocent</string>
			</dict>
			<key>sweet_kiss.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-*</string>
					<string>(K)</string>
					<string>&#x1f619;</string>
					<string>&#x1f618;</string>
					<string>&#x1f617;</string>
					<string>&#x1f61a;</string>
				</array>
				<key>Name</key>
				<string>Kiss</string>
			</dict>
			<key>canny.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-x</string>
					<string>:-X</string>
					<string>:-#</string>
				</array>
				<key>Name</key>
				<string>Lips are Sealed</string>
			</dict>
			<key>smile.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-)</string>
					<string>:)</string>
					<string>&#x1f60a;</string>
					<string>&#x1f642;</string>
					<string>&#x263a;</string>
				</array>
				<key>Name</key>
				<string>Smile</string>
			</dict>
			<key>waaaht.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>=-o</string>
					<string>=-O</string>
				</array>
				<key>Name</key>
				<string>Surprised</string>
			</dict>
			<key>amazed.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-|</string>
				</array>
				<key>Name</key>
				<string>Straight Face</string>
			</dict>
			<key>thbbbpt.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-P</string>
					<string>:-p</string>
					<string>:p</string>
					<string>:P</string>
					<string>&#x1f60b;</string>
					<string>&#x1f61c;</string>
					<string>&#x1f61d;</string>
				</array>
				<key>Name</key>
				<string>Sticking Out Tongue</string>
			</dict>
			<key>look_down.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>;-)</string>
					<string>;)</string>
					<string>&#x1f609;</string>
				</array>
				<key>Name</key>
				<string>Wink</string>
			</dict>
			<key>tire.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>(:|</string>
				</array>
				<key>Name</key>
				<string>Yawn</string>
			</dict>
			<key>matrix.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:neo:</string>
					<string>:matrix:</string>
				</array>
				<key>Name</key>
				<string>Neo</string>
			</dict>
			<key>spidy.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:spider-man:</string>
					<string>:spidy:</string>
				</array>
				<key>Name</key>
				<string>Spider-Man</string>
			</dict>
			<key>hell_boy.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:hellboy:</string>
					<string>:evil:</string>
					<string>:devil:</string>
				</array>
				<key>Name</key>
				<string>Hellboy</string>
			</dict>
			<key>doubt.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:doubt:</string>
				</array>
				<key>Name</key>
				<string>Doubt</string>
			</dict>
			<key>sure.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:sure:</string>
				</array>
				<key>Name</key>
				<string>Sure</string>
			</dict>
			<key>stilldreaming.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:dreaming:</string>
				</array>
				<key>Name</key>
				<string>Dreaming</string>
			</dict>
			<key>hungry.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:hungry:</string>
				</array>
				<key>Name</key>
				<string>Hungry</string>
			</dict>
			<key>oops.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:oops:</string>
					<string>:ops:</string>
				</array>
				<key>Name</key>
				<string>Oops</string>
			</dict>
			<key>ah.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:ah:</string>
					<string>:argh:</string>
					<string>:scream:</string>
				</array>
				<key>Name</key>
				<string>Ah</string>
			</dict>
			<key>surrender.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:surrender:</string>
					<string>:giveup:</string>
				</array>
				<key>Name</key>
				<string>Surrender</string>
			</dict>
			<key>byebye.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:bye:</string>
					<string>:byebye:</string>
				</array>
				<key>Name</key>
				<string>Bye</string>
			</dict>
			<key>misdoubt.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:misdoubt:</string>
					<string>:suspect:</string>
				</array>
				<key>Name</key>
				<string>Misdoubt</string>
			</dict>
			<key>afterboom.png</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:afterboom:</string>
					<string>:boom:</string>
				</array>
				<key>Name</key>
				<string>Boom</string>
			</dict>
		</dict>
	</dict>
</plist>
