<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <class>org.jivesoftware.spark.plugin.battleship.BattleshipPlugin</class>
    <author>Wolf Posdorfer</author>
    <homePage>http://www.jivesoftware.com</homePage>
    <email>9posdorf@informatik.uni-hamburg.de</email>
    <minSparkVersion>3.1.0</minSparkVersion>
    <os>Windows,Linux,Mac</os>
    <java>11</java>
</plugin>
