<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Dele Olajide</author>
    <homePage>http://igniterealtime.org</homePage>
    <email>support@igniterealtime.org</email>
    <class>org.jivesoftware.spark.plugin.ofmeet.SparkMeetPlugin</class>
    <minSparkVersion>3.1.0</minSparkVersion>
    <os>Windows,Linux,Mac</os>
    <java>11</java>
</plugin>
