<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Ignite Realtime</author>
    <homePage>http://igniterealtime.org</homePage>
    <email>support@igniterealtime.org</email>
    <class>org.jivesoftware.spark.plugin.ofmeet.SparkMeetPlugin</class>
    <minSparkVersion>2.0.0.0</minSparkVersion>
    <os>Windows</os>
    <java>1.7.0</java>    
</plugin>