<!-- Define your plugins -->
<plugin>
    <name>OTR Plugin</name>
    <version>0.4 Beta </version>
    <author>Holger Bergunde</author>
    <homePage>http://www.stytrix.de</homePage>
    <email>holger@bergunde.de</email>
    <description>Adds OTR support to Spark</description>
    <minSparkVersion>2.7.0</minSparkVersion>
    <java>1.7.0</java>
    <class>org.jivesoftware.spark.otrplug.OTRPlugin</class>
    <os>Windows,Linux,Mac</os>
</plugin>