<!-- Define your plugins -->
<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Matt Tucker, Bill Lynch, Holger Bergunde</author>
    <homePage>http://www.jivesoftware.org</homePage>
    <email>plugins@jivesoftware.org</email>
    <class>org.jivesoftware.game.reversi.ReversiPlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
    <java>1.7.0</java>
</plugin>

