<!-- Define your plugins -->
<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Holger Bergunde</author>
    <homePage>http://www.stytrix.de</homePage>
    <email>holger@bergunde.de</email>
    <minSparkVersion>2.7.0</minSparkVersion>
    <java>1.7.0</java>
    <class>org.jivesoftware.spark.otrplug.OTRPlugin</class>
    <os>Windows,Linux,Mac</os>
</plugin>