<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Holger Bergunde</author>
    <homePage>https://IgniteRealtime.org</homePage>
    <email>support@IgniteRealtime.org</email>
    <minSparkVersion>3.1.0</minSparkVersion>
    <java>11</java>
    <class>org.jivesoftware.spark.plugin.otr.OTRPlugin</class>
    <os>Windows,Linux,Mac</os>
</plugin>
