<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Jive Software</author>
    <email>spark@jivesoftware.com</email>
    <homePage>http://www.jivesoftware.com</homePage>
    <class>org.jivesoftware.fastpath.FastpathPlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
    <java>1.7.0</java>
</plugin>
