<!-- Define your plugins -->
<plugin>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <description>${project.description}</description>
    <author>Pete Matern, Tim Jentz</author>
    <homePage>http://www.jivesoftware.org</homePage>
    <email>pete@jivesoftware.com</email>
    <class>org.jivesoftware.spark.plugins.transfersettings.FileTransferSettingsPlugin</class>
    <minSparkVersion>2.7.0</minSparkVersion>
    <java>1.7.0</java>
</plugin>

