<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AdiumSetVersion</key>
		<integer>1</integer>
		<key>Emoticons</key>
		<dict>
			<key>angry.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>X-(</string>
					<string>X(</string>
				</array>
				<key>Name</key>
				<string>Angry Face</string>
			</dict>
			<key>shocked.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-O</string>
					<string>:-o</string>
					<string>:O</string>
					<string>:o</string>
				</array>
				<key>Name</key>
				<string>Shock</string>
			</dict>
			<key>cool.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>B-)</string>
					<string>B)</string>
					<string>&#x1f60e;</string>
				</array>
				<key>Name</key>
				<string>Cool</string>
			</dict>
			<key>Cry.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:'(</string>
				</array>
				<key>Name</key>
				<string>Cry</string>
			</dict>
			<key>smile.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>=)</string>
					<string>:)</string>
					<string>&#x263a;</string>
					<string>&#x1f60a;</string>
					<string>&#x1f642;</string>
				</array>
				<key>Name</key>
				<string>Smile</string>
			</dict>
			<key>rockout.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>\m/</string>
				</array>
				<key>Name</key>
				<string>Rockout</string>
			</dict>
			<key>Grin.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:D</string>
					<string>=D</string>
					<string>:'D</string>
					<string>='D</string>
					<string>&#x1f604;</string>
					<string>&#x1f603;</string>
					<string>&#x1f602;</string>
					<string>&#x1f601;</string>
					<string>&#x1f600;</string>
					<string>&#x1f605;</string>
					<string>&#x1f606;</string>
				</array>
				<key>Name</key>
				<string>Grin</string>
			</dict>
			<key>frown.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:(</string>
					<string>=(</string>
					<string>&#x2639;</string>
				</array>
				<key>Name</key>
				<string>Frown</string>
			</dict>
			<key>wink.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>;)</string>
					<string>;-)</string>
					<string>&#x1f609;</string>
				</array>
				<key>Name</key>
				<string>Wink</string>
			</dict>
			<key>tongue.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:P</string>
					<string>:p</string>
					<string>:-P</string>
					<string>:-p</string>
					<string>=P</string>
					<string>=p</string>
					<string>&#x1f60b;</string>
					<string>&#x1f61c;</string>
					<string>&#x1f61d;</string>
				</array>
				<key>Name</key>
				<string>Tongue</string>
			</dict>
			<key>straightface.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-|</string>
					<string>:|</string>
				</array>
				<key>Name</key>
				<string>Straight</string>
			</dict>
			<key>slant.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:-/</string>
					<string>:/</string>
				</array>
				<key>Name</key>
				<string>Slant</string>
			</dict>
			<key>Monkey.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>:(|)</string>
					<string>(monkey)</string>
				</array>
				<key>Name</key>
				<string>Monkey</string>
			</dict>
			<key>Heart.gif</key>
			<dict>
				<key>Equivalents</key>
				<array>
					<string>&lt;3</string>
				</array>
				<key>Name</key>
				<string>Heart</string>
			</dict>
		</dict>
	</dict>
</plist>
